:root {
  --bg-dark: #111;
  --text-color: #f3f3f3;
  --border-color: #9b9b9b;
  --accent-color: #2ae22a;
  --border-radius: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: 'Inter', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: var(--bg-dark);
  color: var(--text-color);
  padding: 1rem;
}

/* .hidden {
  display: none !important;
} */
.active {
  background-color: #2ae22a;
}

.todo-heading {
  text-align: center;
  margin: 2rem 0;
}

.app-container {
  min-height: 100vh;
  width: min(900px, 100%);
  margin: 0 auto;
}

.form-wrapper {
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 1rem;
}

/* Error State */
.error-wrapper {
  width: fit-content;
}

.error-msg {
  color: rgb(230, 58, 58);
}
